.finder_overlay {
    display:none;
    /*z-index:10000;*/
    background-color:#999;
    width:924px;
    min-height:412px;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #bbb;
    -webkit-box-shadow: 0 0 90px #bbb;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
}
.finder_overlay .close {
    background-image:url('++resource++bda.plone.finder.images/apple_close.png');
    position:absolute;
    right:-14px;
    top:-14px;
    cursor:pointer;
    height:28px;
    width:28px;
}
.finder_container {
    width:920px;
    min-height:412px;
    margin-left:2px;
    margin-right:2px;
}
.finder_container div.finder_message {
    display:none;
    position:absolute;
    top:150px;
    left:162px;
    z-index:10000;
    padding:5px;
    border:red 1px solid;
    background-color:#eb9b9b;
    font-weight:bold;
    width:600px;
    min-height:30px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.finder_container div.finder_dialog {
    display:none;
    position:absolute;
    top:130px;
    left:302px;
    z-index:10000;
    text-align: center;
    padding:10px;
    border:#000 1px solid;
    background-color:#eee;
    width:300px;
    min-height:100px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.finder_container div.finder_dialog .text {
    min-height:80px;
}
.finder_container div.finder_dialog button {
    border:#000 1px solid;
    color:#eee;
    background-color:#333;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
}
.finder_controls {
}
.finder_controls div {
    float: left;
}
.finder_controls a.browse {
    background:url('++resource++bda.plone.finder.images/arrow_left_right.png') no-repeat;
    display:block;
    width:30px;
    height:30px;
    margin:5px;
    cursor:pointer;
    font-size:1px;
}
.finder_controls a.right  {
    background-position:-30px -30px;
    margin-right: 0px;
}
.finder_controls a.right:hover {
    background-position:-60px -30px;
}
.finder_controls a.right:active {
    background-position:-60px -30px;
} 
.finder_controls a.left {
    background-position:-30px 0;
    margin-left:0px;
} 
.finder_controls a.left:hover {
    background-position:-60px 0;
}
.finder_controls a.left:active {
    background-position:-60px 0;
}
.finder_controls div.buttonPrev a.disabled {
    background-position:0 0;
}
.finder_controls div.buttonNext a.disabled {
    background-position:0 -30px;
}
.finder_controls a.button {
    display:block;
    width:30px;
    height:30px;
    margin:5px;
    cursor:pointer;
    font-size:1px;
}
.finder_controls a.disabled {
    cursor:default;
}
.finder_controls div.buttonSeperator {
    width:50px;
}
.finder_controls div.action_view a {
    background:url('++resource++bda.plone.finder.images/view.png') 50% 50% no-repeat;
}
.finder_controls div.action_edit a {
    background:url('++resource++bda.plone.finder.images/edit.png') 50% 50% no-repeat;
}
.finder_controls div.action_cut a {
    background:url('++resource++bda.plone.finder.images/cut.png') 50% 50% no-repeat;
}
.finder_controls div.action_copy a {
    background:url('++resource++bda.plone.finder.images/copy.png') 50% 50% no-repeat;
}
.finder_controls div.action_paste a {
    background:url('++resource++bda.plone.finder.images/paste.png') 50% 50% no-repeat;
}
.finder_controls div.action_delete a {
    background:url('++resource++bda.plone.finder.images/delete.png') 50% 50% no-repeat;
}
.finder_controls div.action_view a.disabled {
    background:url('++resource++bda.plone.finder.images/view_disabled.png') 50% 50% no-repeat;
}
.finder_controls div.action_edit a.disabled {
    background:url('++resource++bda.plone.finder.images/edit_disabled.png') 50% 50% no-repeat;
}
.finder_controls div.action_cut a.disabled {
    background:url('++resource++bda.plone.finder.images/cut_disabled.png') 50% 50% no-repeat;
}
.finder_controls div.action_copy a.disabled {
    background:url('++resource++bda.plone.finder.images/copy_disabled.png') 50% 50% no-repeat;
}
.finder_controls div.action_paste a.disabled {
    background:url('++resource++bda.plone.finder.images/paste_disabled.png') 50% 50% no-repeat;
}
.finder_controls div.action_delete a.disabled {
    background:url('++resource++bda.plone.finder.images/delete_disabled.png') 50% 50% no-repeat;
}
.finder_columns { 
    position:relative; 
    overflow:hidden; 
}
.finder_columns div.items { 
    width:20000em; 
    position:relative;
}
.finder_columns div.items div { 
    float:left;
    background-color:#fff;
    margin:0 2px 4px 2px;
    width: 224px;
    min-height:392px;
    border:1px solid #666;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}
.finder_columns div.items p.col_navigation {
    margin:0;
    font-size:10px;
    text-align:right;
}
.finder_columns div.items p.col_navigation a {
    color:#333;
    border:none;
    text-decoration:none;
}
.finder_columns div.items p.col_navigation img {
    margin:2px 0 2px 0;
    cursor:pointer;
}
.finder_columns div.items ul {
    list-style-image: none;
    list-style-type: none;
    margin:3px 0 3px 0;
}
.finder_columns div.items li {
    margin:0;
}
.finder_columns div.items li.selected {
    background-color:#ddd;
    border:666 1px solid;
}
.finder_columns div.items li.cut {
    background-color:#fff !important;
    border:none !important;
}
.finder_columns div.items li.cut a {
    text-decoration: none;
    border: none;
    color: #ddd !important;
}
.finder_columns li.state-private a {
    color:red !important;
}
.finder_columns li.state-visible a {
    color:#74ae0b !important;
}
.finder_columns li.state-published a {
}
.finder_columns li.state-pending a {
    color:#ffa500 !important;
}
.finder_columns li.state-expired a {
    color:red !important;
}
.finder_columns a.column_expand,
.finder_columns a.column_details {
    cursor:pointer;
}
.finder_columns a.column_expand:hover,
.finder_columns a.column_details:hover {
    text-decoration:underline;
}
.finder_columns a.nav_item_name,
.finder_columns a.nav_item_name {
    overflow:hidden;
}
.finder_columns a.arrow_right {
    float:right;
    background:url('++resource++bda.plone.finder.images/arrow_right.png') no-repeat;
    display:block;
    width:8px;
    height:16px;
    margin:0px;
    font-size:1px;
}